* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: Roboto, sans-serif;
	/* width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	overflow: hidden;
	background: linear-gradient(#ad5389, #3c1053); */
}

/* .editorPhoto {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 123, 12, 0.5);
	display: flex;
} */

.editorPhoto {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 15px 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, .12), 0 0 0 0 rgba(0, 0, 0, .3);

	display: flex;
	position: fixed;
	top: 5%;
}

.editorBox {
	background: #e8d9c5;
	padding: 15px;
	box-shadow: 15px 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, .12), 0 0 0 0 rgba(0, 0, 0, .3);
	border-radius: 10px;
	border: 2px solid #936b09;
}




/* Canvas */
#canvas {
	border: 2px solid red;
	background: #dcdcdc;
	width: 400px;
	height: 400px;
}

.menuButton {
	padding: 4px;
}

#canvasHidden {
	border: 2px solid red;
	display: none;
}


/* end canvas */

.editorBox-settings {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* background: #ffffff; */
	padding-top: 6px;
	border-radius: 10px;
	align-items: center;
	flex-wrap: wrap;
}

/* Рамка */
.editorBox-canvas {
	position: relative;
	text-align: center;
	max-width: 400px;
}


.overlay {
	position: absolute;
	top: 100px;
	left: 100px;
	/* left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%; */
	margin: auto;
	z-index: 999;
	width: 200px;
	height: 200px;
	border: 2px dotted rgba(222, 60, 80, .9);
	box-sizing: border-box;
	pointer-events: none;
}

/* end рамка */

/* button */


.settings-navigation {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	/* background-color: #e07272; */
	justify-content: space-between;
	flex-wrap: wrap;
}

.navigation-scale {
	display: flex;
	justify-content: space-between;
	/* background-color: #8766ca; */
	flex-basis: 30%;
}

.navigation-moving {
	display: flex;
	justify-content: space-evenly;
	flex-basis: 30%;
	/* background-color: #7acc78; */
	flex-direction: column;
}

.moving-top {
	/* background-color: #65a0d2; */
	display: flex;
	justify-content: space-between;
}

.moving-bottom {
	display: flex;
	/* background-color: #b85fb9; */
	justify-content: space-between;
	margin-top: 15px;
}

.editorBox-menu {
	/* background-color: #c6da56; */
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}


.buttonMenu {
	padding: 10px;
	border: none;
	background-color: #0f7ae5;
	color: #fff;
	min-width: 120px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-align: center;
	box-shadow: 2px 2px 4px 1px #333;
	text-transform: uppercase;
	opacity: 1;
}

.buttonMoving {
	padding: 10px;
	border: none;
	background-color: #0f7ae5;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50%;
	/* background-color: #7acc78; */
	color: #fff;
	min-width: 50px;
	min-height: 50px;
	font-size: 15px;
	text-align: center;
	box-shadow: 2px 2px 4px 1px #333;
}

.buttonScale {
	background-color: #0f7ae5;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 60%;
	border: none;
	padding: 8px;
	min-width: 50px;
	min-height: 50px;
	box-shadow: 2px 2px 4px 1px #333;
	text-align: center;

}


/* для изменения кнопок при touch событии js*/
.opacity {
	opacity: 0.8;
}

/* end для изменения кнопок при touch событии js*/

.more {
	background-image: url('../image/plus.png');
}

.less {
	background-image: url('../image/minus.png');
}

.up {
	background-image: url('../image/up.png');
}

.down {
	background-image: url('../image/down.png');
}

.left {
	background-image: url('../image/left.png');
}

.right {
	background-image: url('../image/right.png');
}

/* end button */


/* media */

@media (max-width: 991px) {
	#canvas {
		width: 350px;
		height: 350px;
	}

	.editorBox-canvas {
		max-width: 350px;
	}

	.editorBox {
		max-width: 385px;
	}

	.buttonMenu {
		margin: 5px 5px 5px 0px;
	}

	.editorBox-menu {
		justify-content: space-around;
	}

	.navigation-moving {
		flex-basis: 33%;
	}

	.navigation-scale {
		flex-basis: 33%;
	}
}


@media (max-width: 767px) {
	#canvas {
		width: 280px;
		height: 280px;
	}

	.editorBox-canvas {
		max-width: 280px;
	}

	.editorBox {
		max-width: 305px;
		padding: 10px;

	}

	.navigation-moving {
		flex-basis: 42%;
	}

	.navigation-scale {
		flex-basis: 42%;
	}
}


@media (max-width: 575px) {
	#canvas {
		width: 200px;
		height: 200px;
	}

	.editorBox-canvas {
		max-width: 200px;
	}

	.editorBox {
		max-width: 225px;
	}

	.navigation-moving {
		flex-basis: 58%;
	}

	.navigation-scale {
		flex-direction: column;
		align-items: flex-start;
		flex-basis: 32%;
	}

	.less {
		margin-top: 15px;
	}
}
